mixin config-item({ optionName, placeholder = "type value...", type = "input" })
  - var sign = `${optionName.charAt(0).toUpperCase()}${optionName.slice(1)}`;

  .config-item(data-option=optionName)
    .config-item__sign #{optionName}:
    if type === "input"
      input.config-item__input(
        placeholder=placeholder
      ) 
    else if type === "select"
      select.config-item__select
    else if type === "range"
      input.config-item__first-input 
      input.config-item__second-input
